.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
  padding: 20px 0;
  height: 100%;
  &__card {
    background-color: white;
    padding: 50px;
    width: 30%;
    max-width: 450px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
