<div class="container">
  <div
    style="
      background-color: white;
      padding: 50px;
      width: 30%;
      max-width: 450px;
      min-width: 300px;
    "
  >
    <div style="display: flex; justify-content: center; flex-direction: column">
      <lottie-player
        src="/assets/pay-in-cash.json"
        background="transparent"
        speed="1"
        autoplay
        loop
        style="width: 100%;"
      >
      </lottie-player>
      <h1 style="text-align: center">Si pollo quieres, pagar debes</h1>
      <div style="display: flex; justify-content: center">
        <button
          mat-raised-button
          color="primary"
          (click)="pay()"
          [disabled]="loadingPayment"
        >
          Suscribete
        </button>
      </div>
    </div>
  </div>
</div>
