<p-menubar [model]="items" autoDisplay="true">
  <ng-template pTemplate="start">
    <img src="assets/pollo.png" height="80" />
  </ng-template>
</p-menubar>
<div class="container" style="height: calc(100% - 103px)">
  <div style="width: 500px; height: 80%">
    <div *ngIf="subscription_info; else nodata">
      <p-card [header]="subscription_info.link_title">
        <p>
          {{ subscription_info.link_description }}
        </p>
        <p>
          <span>Nombre del cliente:</span> {{ subscription_info.customer.name }}
        </p>
        <p>
          <span>Correo del cliente:</span>
          {{ subscription_info.customer.email }}
        </p>
        <p>
          <span>Última de pago:</span>
          {{ subscription_info.last_payment.date | date: "dd/MM/yy" }}
        </p>
        <div class="p-d-flex">
          <p-button label="Desactivar Suscripción" class="p-mr-2" *ngIf="subscription_info.status === '1'"></p-button>
          <p-button label="Activar Suscripción" class="p-mr-2" *ngIf="subscription_info.status !== '1'"></p-button>
          <p-button label="Reenviar Correo"></p-button>
        </div>
      </p-card>
    </div>
    <ng-template #nodata>
      <ng-container *ngIf="loadingData; else noResult">
        <div style="width: 100%">
          <div style="display: flex; margin-top: 1rem; flex-direction: column">
            <p-skeleton width="100%" height="15px"></p-skeleton>
            <p-skeleton width="100%" height="15px"></p-skeleton>
          </div>
          <div style="display: flex; margin-top: 1rem; flex-direction: column">
            <p-skeleton width="100%" height="15px"></p-skeleton>
            <p-skeleton width="100%" height="15px"></p-skeleton>
          </div>
          <div style="display: flex; margin-top: 1rem; flex-direction: column">
            <p-skeleton width="100%" height="15px"></p-skeleton>
            <p-skeleton width="100%" height="15px"></p-skeleton>
          </div>
        </div>
      </ng-container>
      <ng-template #noResult>
        <p-card header="No se han encontrado resultados">
          <p>
            Asegurese que su subcripción este activa o tenga acceso a
            administrarla
          </p>
        </p-card>
      </ng-template>
    </ng-template>
  </div>
</div>
